<footer class="footer-bottom">
    <div class="container">
        <p class="float-right">
            <a href="#">Į viršų</a>
        </p>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, vero.</p>
        <p class="text-muted">© 2020</p>
    </div>
</footer>