{% extends "admin/template.php.twig" %}

{% block admin_content %}
    <div class="">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"><i class="fa fa-area-chart"></i> Statistika</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, quibusdam..</p>
            </div>
        </div>
    </div>
{% endblock %}